{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Categories{% endblock %}

{% block body %}

<div class="p-3">
    <h1 class="mb-5 col-12 text-center">Liste de categories</h1>
    <div class="d-flex justify-content-center">
        <ul class="list-group col-10">
            {% for category in categories %}
                <li class="list-group-item d-flex justify-content-between">
                    {{ category.category }}
                    <a class="text-danger" href="{{ path('removeCategory', {"categoryId": category.id}) }}">
                        <i class="far fa-minus-square"></i>
                    </a>
                </li>
            {% endfor %}
            <li class="list-group-item d-flex justify-content-evenly">
                <form class="row gy-8 gx-12 align-items-center p-3" method="post" action="{{ path('createCategory') }}">
                    <div class="col-auto">
                        <label for="category" class="visually-hidden">Nouvelle catégorie</label>
                        <input id="category" name="category" type="text" class="form-control" placeholder="Nouvelle catégorie">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </form>
            </li>
        </ul>
    </div>

    <div class="col-12 d-flex justify-content-evenly mt-3">
        <a href="{{ path('index') }}" class="text-decoration-none">
            <i class="fas fa-chevron-left"></i> <span class="mx-2">Accueil</span>
        </a>
    </div>

</div>
{% endblock %}
